extends layout

block content

  link(rel='stylesheet', href='/stylesheets/cart/cart.css')

  .body
      .shopping-cart
      
        .title
          | Корзина
        each product in cartData 
          .item
            
              .buttons
                form(action="/card/delete", method="post")
                  button.btn-del(type="submit", value="Удалить")
                    i.far.fa-trash-alt 
                  input(type="hidden", name='id', value=product._id)
                  input(type="hidden", name='deleteAll', value='true')
              .image
                img(src=`${product.picture}` alt='',id = 'img')
              .description
                span #{product.product_name}
              .quantity
                form(action="/card/delete", method="post")
                  button.btn.minus-btn(type='submit', name='id', value=product._id)
                    i.far.fa-minus-square
              .quantity
                input(type='text' name='name' value=`${product.count}` readonly)
              .quantity
                form(action="/card/push", method = "post")
                  button.btn.plus-btn(type='submit', name='id', value= product._id)
                    i.far.fa-plus-square
              .price #{product.selling_price}
        form(action="/orders" method = "POST")
          button.btn-order(type="submit") Оформить заказ